* {
    margin: 0;
    padding: 0;
}

.container {
    height: 98vh;
    display: flex;
    gap: 1%;
    /* background-color: rgb(21, 48, 48); */
}

.box {
    height: 98vh;
    min-width: 300px;
    padding: 10px;
    background-color: #040b14;
    position: fixed;
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 1;
    
}

.box.open {
    left: 0; /* Slide in when .open class is added */
}

.box ul li {
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
}

nav ul {
    padding-top: 18%;
    list-style: none;
    padding-left: 69px;
}

.logo {
    padding-left: 83px;
    padding-top: 12px;
}

nav h1 {
    color: white;
    padding-left: 82px;
    padding-top: 12px;
}

.logo img {
    height: 130px;
    width: 130px;
    border: 8px solid #2c2f3f;
    border-radius: 50%;
}

nav .image ul {
    padding-left: 15%;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
    padding-top: 6%;
}

.image a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #212431;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.image a:hover {
    color: white;
    background: rgb(0, 200, 255);
    transition: .5s;
}

.icon ul {
    padding-left: 67px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.icon ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon ul a {
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.icon ul li span {
    position: relative;
    top: 4px;
    font-size: 17px;
}

.icon ul li span:hover {
    color: rgb(4, 204, 254);
    text-shadow: rgb(4, 204, 254);
    transition: .5s;
}

.icon ul a i {
    font-size: 24px;
    color: #6f7180;
}

.icon ul a i:hover {
    color: rgb(4, 204, 254);
    transition: .5s;
}

.box2 {
    width: 99vw;
    margin: 16px 0;
    position: relative;
}

.box2 img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -15px;
    right: 0;
    object-fit: cover;
}

.box2 .text {
    position: absolute;
    top: 56%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.box2 .text div{
    font-size: 42px;
}

.box2 .text h1 {
    opacity: 1;
}

.box2 .text p {
    opacity: 1;
}

.hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 2; /* Ensure it is on top */
}

.hamburger img {
    height: 45px;
    width: 45px;
    background-color: #ff7800;
    filter: invert(100%); /* Make sure the image is white */
    position: fixed;
    top: 11px;
    right: 16px;
    border-radius: 50%;
}









.about {
    position: absolute;
    top: 98vh;
    width: 100%;
    padding: 140px 0px;
    background-color: #faf7f7;
}

.about img {
    height: 430px;
    width: 430px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 10vh;

}

.about-text {
    width: 550px;
    position: relative;
    left: 17vh;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text h2 {
    color: rgb(4, 4, 4);
    font-size: 67px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: rgb(7, 7, 7);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text h5 span {
    color: red;
}

.about-text p {
    color: rgba(249, 22, 249, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


.skils{
    position: absolute;
    width: 63%;
    top: 213%;
    min-height: 90vh;
    padding: 30px 10%;
}

.skils .main-title{
    max-width: 700px;
    margin: 0px auto;
    position: relative;
    left: 40vh;
    text-align: center;
    font-family: helvetica;
}

.skils .main-title h1{
    position: relative;
    font-size: 40px;
    color: #242223;
    margin-bottom: 30px;
    display: inline-block;

}

.skils .main-title h1::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 1px;
   top: 125%;
   left: 0;
   background-color: #808080;
}

.skils .main-title h1::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #d03645;


}

.main-title p{
    color: #808080;
}


.row{
    position: relative;
    left: 48vh;
}


.container .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.row .col{
    flex-basis: 46%;
   

}


.row .sub-title h2{
    position: relative;
    color: #242223;
    font-size: 22px;
    font-family: helvetica;
    display: inline-block;
    margin-bottom: 30px;

}

.row .sub-title h2::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;

}

.row .sub-title h2::after{
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #d03645;
}

.sub-title{
    position: relative;
    left: -20px;
}

.skils-container {
    width: 500%;
    position: relative;
    left: -22px;
}

.subject{
    font-size: 18px;
    font-weight: thin;
    color: #808080;
    padding-bottom: 15px;
    text-transform: uppercase;

}

.progress-bar{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    margin-bottom: 20px;

}

.progress-bar::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 18px;
    
}

.progress-line{
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #06c5f9;
    border-radius: 20px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate{
    100%{
        width: 100%;

    }
}

.progress-line::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #06c5f9;

}


.contact-container{
    
    display: grid;
    place-content: center;
    left: 24%;
    position: absolute;
    width: 63%;
    top: 315%;
    min-height: 90vh;
}

.h1{
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
}

.form-group{
    width: 400px;
    margin: 20px 0;
}

.form-group input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: #acacac solid 2px;
    outline: none;
    color: #eee;
    font-size: 18px;
    transition: 0.15s all ease;
}




.form-group textarea{
    border: #acacac solid 2px;
    outline: none;
    width: 100%;
    resize: none;
    padding: 20px;
    color: #eee;
    font-size: 18px;
}

#btn{
    width: 40%;
    height: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #06c5f9;
    color: white;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

#btn:hover{
  background: rgb(0, 0, 0, 0.5);
}



@media  screen and (max-width: 500px) {

    .skils{
        height: 64vh;
    }

    .row .col{
    
        width: 50%;
    

    }

    .sub-title{
        position: relative;
        left: -26px;
    }

    .skils .main-title{
        position: relative;
        left: -46px;
        bottom: 3vh;
    }

    .skils-container{
        width: 192%;
        position: relative;
        left: -22px;
    }

    

    .main-title h1{
        position: relative;
        left: -33px;
        
    }

    .main-title p{
        position: relative;
        left: 0;
        width: 47vh;
        }

    .row{
        position: relative;
        left: 0;
        bottom: 41px;
    }

    
.contact-container{
    left: 0;
    width: 348px;
    position: absolute;
    top: 290%;
}


.form-group{
   width: 291px;
}





#btn:hover{
  background: rgb(0, 0, 0, 0.5);
}

}

@media  screen and (max-width: 1400px) {


    .about {
        height: 66vh;
    }
    
    .about img {
        position: absolute;
        left: 3vh;
        width: 40vh;
        height: 40vh;
        top: 2vh;
    
    }
    
    .about-text {
        position: relative;
        top: 27vh;
        left: 2vh;
        width: 74vh;
    }
    







    .box {
        position: absolute;
        left: -120%; 
        width: 35vh;
    }

    .hamburger {
        display: block;
    }

   
.logo{
    right: 2px;
    position: relative;
}

nav h1{
    right: 2px;
    position: relative;
}

.image ul{
    right: 0px;
    position: relative;
}

.icon ul{
    right: 34px;
    position: relative;
}

    .box.open {
        left: 0; 
    }

    

}
