* {
    margin: 0;
    padding: 0;
}

.container {
    height: 98vh;
    display: flex;
    gap: 1%;
    /* background-color: rgb(21, 48, 48); */
}

.box {
    height: 98vh;
    min-width: 300px;
    padding: 10px;
    background-color: #040b14;
    position: fixed;
    transition: left 0.3s ease;
    /* Smooth transition */
    z-index: 1;

}

.box.open {
    left: 0;
    /* Slide in when .open class is added */
}

.box ul li {
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
}

nav ul {
    padding-top: 18%;
    list-style: none;
    padding-left: 69px;
}

.logo {
    padding-left: 83px;
    padding-top: 12px;
}

nav h1 {
    color: white;
    padding-left: 82px;
    padding-top: 12px;
}

.logo img {
    height: 130px;
    width: 130px;
    border: 8px solid #2c2f3f;
    border-radius: 50%;
}

nav .image ul {
    padding-left: 15%;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
    padding-top: 6%;
}

.image a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: #212431;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.image a:hover {
    color: white;
    /* background: rgb(0, 200, 255); */
    transition: .5s;
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
}

.icon ul {
    padding-left: 67px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.icon ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon ul a {
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -7px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.icon ul li span {
    position: relative;
    top: 4px;
    font-size: 17px;
}

.icon ul li span:hover {
    color: rgb(4, 204, 254);
    text-shadow: rgb(4, 204, 254);
    transition: .5s;
}

.icon ul a i {
    font-size: 24px;
    color: #6f7180;
}

.icon ul a i:hover {
    color: rgb(4, 204, 254);
    transition: .5s;
}

.box2 {
    width: 99vw;
    margin: 16px 0;
    position: relative;
}

.box2 img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -15px;
    right: 0;
    object-fit: cover;
}

.box2 .text {
    position: absolute;
    top: 56%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.box2 .text div {
    font-size: 42px;
}

.box2 .text h1 {
    opacity: 1;
}

.box2 .text p {
    opacity: 1;
}

.hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    z-index: 2;
    /* Ensure it is on top */
}

.hamburger img {
    height: 45px;
    width: 45px;
    background-color: #ff7800;
    filter: invert(100%);
    /* Make sure the image is white */
    position: fixed;
    top: 11px;
    right: 16px;
    border-radius: 50%;
}









.about {
    position: absolute;
    top: 98vh;
    width: 100%;
    padding: 140px 0px;
    background-color: #faf7f7;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
    /* Initially invisible */
    animation-iteration-count: initial;
}



.about img {
    height: 430px;
    width: 430px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 10vh;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
    /* Initially invisible */
    /* animation-iteration-count: infinite; */

}

.about-text {
    width: 550px;
    position: relative;
    left: 17vh;
    max-height: 38vh; /* Set the maximum height for the container */
    overflow-y: auto;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
    /* Initially invisible */
    /* animation-iteration-count: infinite; */
}


/* Custom Scrollbar */
.about-text::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.about-text::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px;
}

.about-text::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px;
}

.about-text::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker thumb color on hover */
}

/* Style for the paragraphs */
.about-text p {
    color: rgba(249, 22, 249, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text h2 {
    color: rgb(4, 4, 4);
    font-size: 67px;
    text-transform: capitalize;
    margin-bottom: 20px;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
    /* Initially invisible */
    /* animation-iteration-count: infinite; */
}

.about-text h5 {
    color: rgb(7, 7, 7);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
    /* Initially invisible */
    /* animation-iteration-count: infinite; */
}

.about-text h5 span {
    color: red;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
    /* Initially invisible */
    /* animation-iteration-count: infinite; */
}


.about-text::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.about-text::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px;
}

.about-text::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px;
}

.about-text::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker thumb color on hover */
}

.about-text p {
    color: rgba(249, 22, 249, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
    /* Initially invisible */
    /* animation-iteration-count: infinite; */
}


.skils {
    position: absolute;
    width: 63%;
    /* top: 207%; */
    top: 373%;
    min-height: 60vh;
    padding: 123px 10%;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;
}

.skils .main-title {
    max-width: 700px;
    margin: 0px auto;
    position: relative;
    left: 40vh;
    text-align: center;
    font-family: helvetica;
}

.skils .main-title h1 {
    position: relative;
    font-size: 40px;
    color: #242223;
    margin-bottom: 30px;
    display: inline-block;

}

.skils .main-title h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.skils .main-title h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #d03645;


}

.main-title p {
    color: #808080;
}


.row {
    position: relative;
    left: 48vh;
}


.container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.row .col {
    flex-basis: 46%;


}


.row .sub-title h2 {
    position: relative;
    color: #242223;
    font-size: 22px;
    font-family: helvetica;
    display: inline-block;
    margin-bottom: 30px;

}

.row .sub-title h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;

}

.row .sub-title h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #d03645;
}

.sub-title {
    position: relative;
    left: -20px;
}

.skils-container {
    width: 500%;
    position: relative;
    left: -22px;
}

.subject {
    font-size: 18px;
    font-weight: thin;
    color: #808080;
    padding-bottom: 15px;
    text-transform: uppercase;

}

.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    margin-bottom: 20px;

}

.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 18px;

}

.progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #06c5f9;
    border-radius: 20px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate {
    100% {
        width: 100%;

    }
}

.progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #06c5f9;

}






/* resume css start */





     /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
} */

.resume-container {
    max-width: 900px;
    /* margin: 20px auto; */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 94%;
    left: 60vh;
    position: relative;
    top: 212%;
    /* height: 50vh; */
    z-index: 1;
    border-radius: 8px;
}

.resume-container header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.resume-container .profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.resume-container .bio h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 5px;
}

.resume-container .bio p {
    font-size: 1.2em;
    color: #777;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.resume-container .contact-info, .education, .skills, .experience, .certifications {
    margin-bottom: 20px;
}

p {
    margin-bottom: 8px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

.resume-container .education-item, .experience-item {
    margin-bottom: 15px;
}

.resume-container footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .bio h1 {
        font-size: 2em;
    }

    .bio p {
        font-size: 1.1em;
    }
}







/* resume css end */













/* projects css  */

.projects {
    padding: 50px;
    background-color: #faf7f7;
    height: 112vh;
    /* width: 93%; */
    width: 1412px;
    position: relative;

    /* top: 335%;
    padding: 50px;
    width: 65%;
    position: relative;
    left: 55vh; */
    /* background-color: #f7efef; */

    /* top: 335%; */
    top: 356%;
    padding: 50px;
    /* width: 73%; */
    position: relative;
    left: 1vh;
    background-color: #121111;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}



.project-main-title h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    position: relative;
    left: 18vh;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

#main-title-p {
    color: #808080;
     position: relative;
     top: 16px;



     width: 130vh;
     left: 56vh;
     color: #fff;
     animation-name: krishanimation;
     animation-duration: 3s;
     animation-delay: 0.5s;
     /* Adjust as needed */
     animation-fill-mode: forwards;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    /* padding: 20px; */
    padding: 79px;
    width: 77%;
    position: relative;
    left: 26vh;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

#p-h{
    position: relative;
    /* left: 50vh;
    width: 20vh; */
    left: 110vh;
    width: 20vh;
    color: #fff;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

.project {
    background-color: black;
    padding: 20px;
    /* width: 66%;
    height: 69vh; */
    width: 56%;
    height: 50vh;
    position: relative;
    /* left: 10vh; */


    left: 22vh;
   


    top: 6vh;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid #03e9f4;
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
}

.project-links .btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.project-links{
    position: relative;
    top: 27vh;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #555;
    position: relative;
    top: 24vh;
    color: #d3c7c7;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

.project p {
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    top: 24vh;
    color: #d3c7c7;;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

.project-links .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}

.project-links .btn:hover {
    background-color: #0056b3;
}

.project-image  {
    width: 50%;
    height: 30vh;
    /* max-height: 301px; Keeps the image size consistent */
    max-height:  190px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;


    /* change */
    margin-top: 14px;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
}


/* project css end */





































.contact-container {

    display: grid;
    place-content: center;
    left: 38%;
    position: absolute;
    width: 42%;
    /* top: 498%; */
    top: 654%;
    min-height: 83vh;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;



    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: auto;
    /* background: linear-gradient(135deg, #06c5f9, #002d62); */
   
    /* animation: krishanimation 1.5s ease-out; */
}

.contact-container:hover{
    /* border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition:0.3s ease; */


        border-radius: 25px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
        transform: scale(1.02) translateY(-10px);
        transition: all 0.4s ease-in-out;
    
}

.contact-container .h1 {
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;



    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    animation: fadeIn 2s ease;
}

.form-group {
    width: 400px;
    margin: 20px 0;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;


}

.form-group input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: #acacac solid 2px;
    outline: none;
    color: black;
    font-size: 18px;
    transition: 0.15s all ease;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;


    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}




.form-group textarea {
    border: #acacac solid 2px;
    outline: none;
    width: 100%;
    resize: none;
    padding: 20px;
    color: black;
    font-size: 18px;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;


    
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    resize: none;
}

#btn {
    width: 40%;
    height: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #06c5f9;
    color: #fff;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    animation-name: krishanimation;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* Adjust as needed */
    animation-fill-mode: forwards;
    /* Keeps the final state after animation */
    opacity: 0;


    border-radius: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#btn:hover {
    background: rgb(0, 0, 0, 0.5);
    background-color: #002d62;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}







@keyframes krishanimation {
    from {
        transform: translateY(150%);
        opacity: 0;
        /* Starting from invisible */
    }

    to {
        transform: translateY(0);
        opacity: 1;
        /* Ending at fully visible */
    }
}










@media screen and (max-width: 500px) {

    .skils {
        height: 64vh;
    }

    .row .col {

        width: 50%;


    }

    .sub-title {
        position: relative;
        left: -26px;
    }

    .skils .main-title {
        position: relative;
        left: -46px;
        bottom: 3vh;
    }

    .skils-container {
        width: 195%;
        position: relative;
        left: -22px;
    }



    .main-title h1 {
        position: relative;
        left: -33px;

    }

    .main-title p {
        position: relative;
        left: 0;
        width: 47vh;
    }

    .row {
        position: relative;
        left: 0;
        bottom: 41px;
    }


    .contact-container {
        left: 0;
        /* width: 348px;
        position: absolute;
        top: 455%; */

        width: 277px;
        position: absolute;
        top: 482%;
    }

   


    .form-group {
        width: 291px;
    }





    #btn:hover {
        background: rgb(0, 0, 0, 0.5);
    }









    .projects {
        padding: 50px;
        background-color: #faf7f7;
        height: 112vh;
        width: 93%;
        position: relative;
        top: 377%;
        padding: 50px;
        width: 89%;
        position: relative;
        left: -7vh;
        /* background-color: #f7efef; */
    }
    
    
    
    .project-main-title h1 {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        color: #333;
        position: relative;
        left: 18vh;
    }
    
    #main-title-p {
        color: #808080;
        position: relative;
        top: 16px;
        width: 112%;
        left: 12px;
    }
    
   
    
    .p-h{
        position: relative;
        left: 50vh;
        width: 20vh;
    }
    
    .project {
        width: 75%;
        height: 47vh;
        position: relative;
        left: 6vh;
        top: 6vh;
    }

    .main-title h1 {
        position: relative;
        left: -30px;
    }
    
   
    
    .project h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #555;
        position: relative;
        top: 24vh;
    }

    .project:hover {
          transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid #03e9f4;
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
    }

    .project-links .btn:hover {
        background-color: #0056b3;
        transform: scale(1.1);
    }
    
    
    
   
    
    
    
   
    
    .project-image  {
        width: 50%;
        height: 30vh;
        /* max-height: 301px; Keeps the image size consistent */
        max-height:  190px;
      
    }

}
/* Default styles for larger screens */
@media screen and (max-width: 1400px) {
    .about {
        height: 66vh;
    }

    .about img {
        position: absolute;
        left: 3vh;
        width: 40vh;
        height: 40vh;
        top: 2vh;
    }

    .about-text {
        position: relative;
        top: 27vh;
        left: 2vh;
        width: 74vh;
    }

    .box {
        left: -120%;
        width: 35vh;
    }

    .hamburger {
        display: block;
    }

    .logo {
        right: 2px;
        position: relative;
    }

    nav h1 {
        right: 2px;
        position: relative;
    }

    .image ul {
        right: 0px;
        position: relative;
    }

    .icon ul {
        right: 34px;
        position: relative;
    }

    .box.open {
        left: 0;
    }

    .projects {
        padding: 50px;
        background-color: #121111;
        height: 127vh;
        width: 93%;
        position: relative;
        top: 303%;
        padding: 50px;
        width: 86%;
        position: relative;
        left: -5vh;
    }
    
    .project-main-title h1 {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        color: #333;
        position: relative;
        left: 18vh;
    }
    
    #main-title-p {
        color: #808080;
        position: relative;
        top: 16px;
    }
    
    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
        width: 16%;
    }

    .project-links .btn:hover {
        background-color: #0056b3;
        transform: scale(1.1);
    }
    
    #p-h {
        position: relative;
        left: 13px;
        width: 20vh;
        color: #fff;
    }
    
    .project {
        width: 86%;
        height: 47vh;
        position: relative;
        left: -23vh;
        top: 6vh;
        margin-top: 2vh;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .project:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
        border: 3px solid #03e9f4;
        box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
    }
    
    .project-links {
        position: relative;
        top: 27vh;
    }
    
    .project h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #555;
        position: relative;
        top: 24vh;
    }
    
    .project p {
        font-size: 16px;
        margin-bottom: 10px;
        position: relative;
        top: 24vh;
    }
    
    .project-links .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 50px;
        transition: background-color 0.3s, transform 0.3s;
        font-size: 16px;
    }

    .project-image {
        width: 50%;
        height: 30vh;
        max-height: 190px;
        object-fit: contain;
        border-radius: 8px;
        margin-bottom: 15px;
    }
}

/* Smaller screens (max-width: 768px) */
@media screen and (max-width: 768px) {
    .about img {
        width: 30vh;
        height: 30vh;
    }

    .projects {
        height: auto;
        width: 100%;
        left: 0;
        top: unset;
    }

    .projects-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .project {
        width: 100%;
        height: auto;
        left: 0;
    }

    .project h2, .project p {
        top: 0;
    }

    .project-links {
        top: unset;
    }
}

/* Mobile devices (max-width: 480px) */
@media screen and (max-width: 480px) {

    #chishiya-img {
        background-image: url('movie/chishiya-img-1.jpg');
        /* opacity: 0.8; */
        opacity: 238.8;
       
    }
    .about img {
        width: 25vh;
        height: 25vh;
    }

    .skils-container {
        width: 195%;
        position: relative;
        left: -22px;
    }

  
    .projects {
        padding: 50px;
        background-color: #121111;
        height: 152vh;
        width: 93%;
        position: relative;
        top: 303%;
        padding: 50px;
        width: 86%;
        position: relative;
        left: -5vh;
        /* background-color: #f7efef; */
    }
    
    
    
    .project-main-title h1 {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        color: #333;
        position: relative;
        left: 18vh;
    }
    
    #main-title-p {
        color: #808080;
         position: relative;
         top: 16px;
    }
    
    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
        width: 16%;
    }

   

    .project-links .btn:hover {
        background-color: #0056b3;
        transform: scale(1.1);
    }
    
    #p-h{
        position: relative;
        left: 13px;
        width: 20vh;
        color: #fff;
    }
    
    .project {
        width: 86%;
        height: 58vh;
        position: relative;
        left: -23vh;
        top: 6vh;
        margin-top: 2vh;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .project:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
        border: 3px solid #03e9f4;
        box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
    }
    
    .project-links{
        position: relative;
        top: 27vh;
    }
    
    .project h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #555;
        position: relative;
        top: 24vh;
    }
    
    .project p {
        font-size: 16px;
        margin-bottom: 10px;
        position: relative;
        top: 24vh;
    }
    
    .project-links .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        background-color: #007bff;
        
        color: white;
        text-decoration: none;
        border-radius: 50px;
        transition: background-color 0.3s, transform 0.3s;
        font-size: 16px;
    }
    
    .project-links .btn:hover {
        background-color: #0056b3;
        transform: scale(1.1);
    }
    
    .project-image  {
        width: 50%;
        height: 30vh;
        /* max-height: 301px; Keeps the image size consistent */
        max-height:  190px;
        object-fit: contain;
        border-radius: 8px;
        margin-bottom: 15px;
    }



}
